body, html {
    height: 100%;
    width: 100%;
    margin: 0 auto;
    padding: 0;
    font-family: 'MinecraftiaRegular',Helvetica Neue Light,Helvetica Neue,Helvetica,Arial,sans-serif;
    font-weight: normal;
    font-style: normal;

}
header {
  padding: 25px 0px 40px 0px;
}


.grid {
  display: grid;
  grid-template-columns: repeat(2, auto);
}

.item {
  max-width: 500px;
  min-width: 410px;
  min-height: 400px;
  margin-left: auto;
  margin-right: auto;
  border-style: solid;
  border-color: black;
}

.item, h1 {
  text-align: center;
}


.header_credits {
  float: right;
  padding-right: 10%;
}
