body, html {
    height: 100%;
    width: 100%;
    margin: 0 auto;
    padding: 0;
    font-family: 'MinecraftiaRegular',Helvetica Neue Light,Helvetica Neue,Helvetica,Arial,sans-serif;
    font-weight: normal;
    font-style: normal;

}
header {
  padding: 25px 0px 40px 0px;
}


.grid {
  display: grid;
  grid-template-columns: repeat(2, auto);
}

.item {
  /*position: absolute;*/
  max-width: 500px;
  min-width: 410px;
  min-height: 400px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 30px;
  border-style: solid;
  border-color: black;
  box-shadow: 3px 8px 29px 0px rgba(0,0,0,0.77);
  -webkit-box-shadow: 3px 8px 29px 0px rgba(0,0,0,0.77);
  -moz-box-shadow: 3px 8px 29px 0px rgba(0,0,0,0.77);
}

.item, p{

}

.item, h1 {
  padding-top: 6px;
  text-align: center;
}

.title {
  padding-left:60%;
}

.header_credits {
  float: right;
  padding-right: 10%;
}
